<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Connect 4</title>
</head>
<div style="border-color: white; margin-top: 5px;" class="card align-items-center">
  <% if (curPlayer === 1) { %> 
    <h3>Blues's Turn!</h3>
  <% } else { %>
    <h3>Red's Turn!</h3>
  <% } %>  
</div>
<div style="height: 650px;" class="d-flex justify-content-center">
  <body>
    <form style="width: 500px; height: 500px" class="form-group d-flex justify-content-center" method="POST" action="/">
      <table>
        <tbody>
          <% if (!winner) { %> 
          <% for (let i = 0; i < gameboard.length; i++) { %>
            <tr>
              <% for (let j = 0; j < gameboard[i].length; j++) { %> 
                <td>
                  <% if (gameboard[i][j] === 1) { %>
                    <div style="border-radius: 5px; background-color: blue; width: 100px; height: 100px; border-color: black;"></div>
                  <% } else if (gameboard[i][j] === 2) { %>
                    <div style="border-radius: 5px; background-color: red; width: 100px; height: 100px; border-color: black;"></div>
                  <% } else { %> 
                    <input name=<%= [i,j] %>  type="submit" class="btn" value="" style="border-color: black; width: 100px; height: 100px">
                  <% } %> 
                </td>
              <% } %> 
            </tr>  
          <% } %> 
          <% } else {%> 
            <div class="d-flex align-items-center" style="height: 600px; width: 700;">
              <h1><%= winner %> wins!</h1>
            </div>
          <% } %> 
        </tbody>
      </table>
    </form>
  </body>
</div>
<footer>
  <div class = "d-flex justify-content-center">
    <form action="/clear" method="POST"><input type="submit" value = "Reset Board" class="btn btn-danger"></form>
  </div>  
</footer>
</html>